<select class="form-control" value="@_selectedItem" @onchange="OnSelectionChanged">
    <option value="">-- Select an item --</option>
    <option value="True">Yes</option>
    <option value="False">No</option>
</select>
