<div class="form-group row">
    <label class="col-sm-2 col-form-label">Date Range</label>
    <div class="col-sm-10">
        <InputDate @bind-Value="StartDate" class="form-control w-auto d-inline"></InputDate>
        <InputDate @bind-Value="EndDate" class="form-control w-auto d-inline"></InputDate>
    </div>
</div>
